{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "plugin:jest/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "jsx": true,
    "sourceType": "module",
    "useJSXTextNode": true
  },
  "plugins": ["import", "jest", "react", "prettier"],
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "react/prop-types": [0],
    "prettier/prettier": ["error", {"endOfLine": "auto"}]
  },

  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
