button {
  position: relative;
  padding: 1em 4em;
  outline: none;
  border: none;
  color: #fff;
  text-transform: uppercase;
  background: var(--main-color);
  cursor: pointer;
  transition: 0.4s;

  &.btn__link {
    background: #fff;
    color: var(--main-color);

    &:hover {
      color: #fff;
    }
  }

  &:hover {
    background: var(--main-color-lighten);
  }

  &:active {
    background: var(--main-color-darken);
  }
}
