.cards_container {
  position: relative;
  display: flex;
  flex-grow: 2;
  width: 100%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0 5em;

  a {
    text-decoration: none;
    color: unset;
  }

  &__not_found {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    margin: 0;
    color: #222;
    font-weight: 600;
  }

  &__grid {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 3em;
    row-gap: 3em;
    margin: auto;
    width: 75%;

    .card {
      position: relative;
      width: 300px;
      display: flex;
      flex-direction: column;

      &:hover {
        .card__content {
          background: darken(#f8f8f8, 3);
        }
      }

      $self: card;

      &__preview {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
      }

      &__content {
        padding: 1em;
        background: #f8f8f8;
        text-transform: uppercase;
        transition: 0.4s;

        .#{$self}__text {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .#{$self}__year_release {
            border: 1px solid #ccc;
            padding: 0.3em 1em;
          }
        }
        .#{$self}__genre {
          text-transform: capitalize;
          color: #ccc;
        }
      }
    }
  }
}
