.header {
  position: relative;
  width: 100%;
  background: url('../../static/img/netflix-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em 10rem;

  $self: 'header';

  &__nav {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .#{$self}__title {
      margin: 0;
      color: var(--main-color);
    }
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }

  &__body {
    position: relative;
    margin-top: 3.5em;

    .input {
      h3 {
        text-transform: uppercase;
        color: white;
        font-weight: normal;
      }
    }

    &.header__info_movie {
      display: flex;
      justify-content: space-between;
      font-size: 1.5em;
      color: white;

      .#{$self}__poster {
        min-width: 300px;
        width: 500px;
        max-width: 500px;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .#{$self}__text_movie {
        position: relative;
        margin-left: 3em;
        width: 1000px;

        .#{$self}__text_movie_head {
          display: flex;
          align-items: center;
          margin-top: 1em;

          .#{$self}__title_movie {
            color: var(--main-color);
            font-size: 2em;
            margin: 0;
          }

          .#{$self}__rating_movie {
            display: block;
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;
            border: 1px solid white;
            border-radius: 50%;
            color: white;
            text-align: center;
            line-height: 40px;
            font-size: 16px;
            margin-left: 2em;
          }
        }

        small {
          display: block;
          color: white;
          margin-top: 0.5em;
        }

        .#{$self}__duration_release_movie {
          display: flex;
          align-items: center;
          margin-top: 1em;
          font-weight: bold;

          span + span {
            margin-left: 1em;
          }
        }

        .#{$self}__description_movie {
          margin-top: 2em;
          font-size: 19px;
          line-height: 140%;
        }
      }
    }
  }

  &__footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1.5em;
  }
}
